﻿body{
    color: #34495e;
}

[v-cloak] > * { 
    display: none 
}
[v-cloak]::before { 
    content: "Loading…";
    font-size: 20px;
    text-align: center;
}

.base-row{
    float: left;
    width: 100%;
}

/*Header*/
.app-header{
    float: left;
    width: 100%;
    background: #34495e;
    color: #fff;
}

/*Per page selection module*/
.per-page-selection{
    padding: 10px;
}

.list-friends-btn{
    background: #f57500;
    border: 0;
    border-radius: 3px;
    color: #fff;
}

/*Friends list module*/
.users-list{
    list-style: none;
    padding: 0;
}

.users-list li{
    display: block;
    float: left;
    width: 100%;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: box-shadow 0.15s
}

.users-list li:hover{
    box-shadow: 0px 0px 14px 4px #f1f1f1;
    transition: box-shadow 0.15s;
}

.users-list img{
    border: 4px solid #ccc;
    border-radius: 3px;
    margin: 5px 5px;
    max-width: 100px;
}
.users-list .user-info{
    display: inline-block;
    font-size: 12px;
}

.pagination{
    list-style: none;
    padding: 0;
}
.pagination li{
    display: inline-block;
    margin: 0 5px;
}

.pagination button{
    background: #2ecc71;
    border-radius: 3px;;
    padding: 11px;
    line-height: 5px;
    border: 0;
    color: #fff;
}

/*Footer*/
.website-footer{
    background: #34495e;
    color: #fff;
    padding: 15px 0;
}
.website-footer p{
    margin-bottom: 0;
}