<!DOCTYPE html>
<html>
<head>
    <title>Social App Exercise</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/style.css" rel="stylesheet" media="screen">
</head>
<body>

    <div id="app" v-cloak>

        <section class="base-row">
            <header class="app-header">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>{{ websiteTitle }}</h2>
                        </div>
                    </div>
                </div>
            </header>
        </section>
        
        <section class="base-row">
            <div class="container">
        
                <div class="main-content">
                    <div class="row">
                        <div class="col-xs-12 per-page-selection">
                            <label for="per_page">How many friends do you want to see?</label>
                            <select name="per_page" id="" v-model="per_page">
                                <option v-for="n in total_users" v-bind:value="n">{{ n }}</option>
                            </select>
                            <button class="list-friends-btn" v-on:click="changeUsersPerPage()">List friends</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="users-list">
                                <li v-for="( user, index ) in users">
                                    <img v-bind:src="user.avatar" v-bind:alt="'Avatar of ' + user.first_name">
                                    <p class="user-info">
                                        <strong>User ID</strong>: {{ user.id }} <br>
                                        <strong>First Name</strong>: {{ user.first_name }} <br>
                                        <strong>Last Name</strong>: {{ user.last_name }} <br>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="pagination">
                                <li v-for="n in total_pages">
                                    <button v-on:click="changePage( n )">{{ n }}</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
        
            </div>
        </section>

        <section class="base-row">
            <footer class="website-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="text-center"><small>Social App 2018</small></p>
                        </div>
                    </div>
                </div>
            </footer>
        </section>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

    <script src="js/app.js"></script>
</body>
</html>